body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u2 {
  position:absolute;
  left:684px;
  top:514px;
  width:1921px;
  height:1081px;
}
#u3 {
  position:absolute;
  left:2px;
  top:532px;
  width:1917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u5 {
  position:absolute;
  left:2px;
  top:312px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 133, 133, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  color:#9E4B4B;
}
#u6 {
  position:absolute;
  left:111px;
  top:532px;
  width:140px;
  height:40px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  color:#9E4B4B;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:92px;
}
#u8 {
  position:absolute;
  left:215px;
  top:31px;
  width:140px;
  height:92px;
}
#u9 {
  position:absolute;
  left:2px;
  top:38px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:724px;
  top:776px;
  width:140px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:74px;
}
#u12 {
  position:absolute;
  left:1058px;
  top:322px;
  width:932px;
  height:74px;
}
#u13 {
  position:absolute;
  left:2px;
  top:29px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  width:1920px;
  height:1080px;
}
#u0_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1.a {
  top:532px;
  width:1916px;
}
#u2.a {
  left:0px;
  top:0px;
}
#u2_img.a {
}
#u3.a {
}
#u4.a {
}
#u4_img.a {
}
#u5.a {
}
#u6.a {
}
#u6_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 133, 133, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  color:#9E4B4B;
}
#u7.a {
}
#u8.a {
  left:20px;
  top:120px;
  width:400px;
  height:255px;
}
#u8_img.a {
  width:400px;
  height:255px;
}
#u9.a {
  top:120px;
  width:396px;
}
#u10.a {
  left:834px;
  top:842px;
  width:260px;
  height:75px;
}
#u10_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:75px;
  background:inherit;
  background-color:rgba(249, 133, 133, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11.a {
  top:18px;
  width:256px;
}
#u12.a {
  left:428px;
  top:482px;
}
#u12_img.a {
}
#u13.a {
}
