body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:907px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:907px;
}
#u40 {
  position:absolute;
  left:2px;
  top:446px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:791px;
}
#u41 {
  position:absolute;
  left:0px;
  top:116px;
  width:360px;
  height:791px;
}
#u42 {
  position:absolute;
  left:2px;
  top:388px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(252, 195, 195, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:73px;
  top:123px;
  width:46px;
  height:17px;
}
#u44 {
  position:absolute;
  left:2px;
  top:0px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
}
#u45 {
  position:absolute;
  left:0px;
  top:-45px;
  width:360px;
  height:360px;
}
#u46 {
  position:absolute;
  left:2px;
  top:172px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u48 {
  position:absolute;
  left:67px;
  top:123px;
  width:1px;
  height:17px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u50 {
  position:absolute;
  left:127px;
  top:123px;
  width:1px;
  height:17px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u52 {
  position:absolute;
  left:188px;
  top:123px;
  width:1px;
  height:17px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u54 {
  position:absolute;
  left:247px;
  top:123px;
  width:1px;
  height:17px;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u56 {
  position:absolute;
  left:307px;
  top:123px;
  width:1px;
  height:17px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u58 {
  position:absolute;
  left:78px;
  top:126px;
  width:37px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u60 {
  position:absolute;
  left:145px;
  top:126px;
  width:25px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u62 {
  position:absolute;
  left:208px;
  top:126px;
  width:25px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u64 {
  position:absolute;
  left:267px;
  top:126px;
  width:25px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u39.a {
  width:1920px;
  height:4841px;
}
#u39_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:4841px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.a {
  top:2412px;
  width:1916px;
}
#u41.a {
  top:621px;
  width:1920px;
  height:4219px;
}
#u41_img.a {
  width:1920px;
  height:4219px;
}
#u42.a {
  top:2102px;
  width:1916px;
}
#u43.a {
  left:633px;
  top:687px;
  width:120px;
  height:40px;
}
#u43_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 195, 195, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44.a {
  top:12px;
  width:116px;
}
#u45.a {
  top:-241px;
  width:1920px;
  height:1920px;
}
#u45_img.a {
  width:1920px;
  height:1920px;
}
#u46.a {
  top:952px;
  width:1916px;
}
#u48.a {
  left:606px;
  top:682px;
  height:56px;
}
#u48_img.a {
  height:57px;
}
#u49.a {
  top:20px;
}
#u50.a {
  left:772px;
  top:677px;
  height:56px;
}
#u50_img.a {
  height:57px;
}
#u51.a {
  top:20px;
}
#u52.a {
  left:937px;
  top:677px;
  height:56px;
}
#u52_img.a {
  height:57px;
}
#u53.a {
  top:20px;
}
#u54.a {
  left:1102px;
  top:677px;
  height:56px;
}
#u54_img.a {
  height:57px;
}
#u55.a {
  top:20px;
}
#u56.a {
  left:1267px;
  top:677px;
  height:56px;
}
#u56_img.a {
  height:57px;
}
#u57.a {
  top:20px;
}
#u58.a {
  left:653px;
  top:693px;
  width:79px;
  height:28px;
}
#u58_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u59.a {
  width:79px;
}
#u60.a {
  left:831px;
  top:693px;
  width:53px;
  height:28px;
}
#u60_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u61.a {
  width:53px;
}
#u62.a {
  left:996px;
  top:693px;
  width:53px;
  height:28px;
}
#u62_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u63.a {
  width:53px;
}
#u64.a {
  left:1161px;
  top:693px;
  width:53px;
  height:28px;
}
#u64_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u65.a {
  width:53px;
}
