body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:907px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:907px;
}
#u15 {
  position:absolute;
  left:2px;
  top:446px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:360px;
}
#u16 {
  position:absolute;
  left:0px;
  top:-45px;
  width:360px;
  height:360px;
}
#u17 {
  position:absolute;
  left:2px;
  top:172px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:792px;
}
#u18 {
  position:absolute;
  left:0px;
  top:115px;
  width:360px;
  height:792px;
}
#u19 {
  position:absolute;
  left:2px;
  top:388px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u21 {
  position:absolute;
  left:67px;
  top:128px;
  width:1px;
  height:15px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u23 {
  position:absolute;
  left:127px;
  top:128px;
  width:1px;
  height:15px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u25 {
  position:absolute;
  left:188px;
  top:128px;
  width:1px;
  height:15px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u27 {
  position:absolute;
  left:247px;
  top:128px;
  width:1px;
  height:15px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u29 {
  position:absolute;
  left:307px;
  top:128px;
  width:1px;
  height:15px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u31 {
  position:absolute;
  left:78px;
  top:129px;
  width:37px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u33 {
  position:absolute;
  left:145px;
  top:129px;
  width:25px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u35 {
  position:absolute;
  left:208px;
  top:129px;
  width:25px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u37 {
  position:absolute;
  left:267px;
  top:129px;
  width:25px;
  height:13px;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u14.a {
  width:1920px;
  height:4837px;
}
#u14_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:4837px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15.a {
  top:2410px;
  width:1916px;
}
#u16.a {
  top:-241px;
  width:1920px;
  height:1920px;
}
#u16_img.a {
  width:1920px;
  height:1920px;
}
#u17.a {
  top:952px;
  width:1916px;
}
#u18.a {
  top:621px;
  width:1920px;
  height:4224px;
}
#u18_img.a {
  width:1920px;
  height:4224px;
}
#u19.a {
  top:2104px;
  width:1916px;
}
#u21.a {
  left:606px;
  top:682px;
  height:56px;
}
#u21_img.a {
  height:57px;
}
#u22.a {
  top:20px;
}
#u23.a {
  left:772px;
  top:677px;
  height:56px;
}
#u23_img.a {
  height:57px;
}
#u24.a {
  top:20px;
}
#u25.a {
  left:937px;
  top:677px;
  height:56px;
}
#u25_img.a {
  height:57px;
}
#u26.a {
  top:20px;
}
#u27.a {
  left:1102px;
  top:677px;
  height:56px;
}
#u27_img.a {
  height:57px;
}
#u28.a {
  top:20px;
}
#u29.a {
  left:1267px;
  top:677px;
  height:56px;
}
#u29_img.a {
  height:57px;
}
#u30.a {
  top:20px;
}
#u31.a {
  left:653px;
  top:693px;
  width:79px;
  height:28px;
}
#u31_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u32.a {
  width:79px;
}
#u33.a {
  left:831px;
  top:693px;
  width:53px;
  height:28px;
}
#u33_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u34.a {
  width:53px;
}
#u35.a {
  left:996px;
  top:693px;
  width:53px;
  height:28px;
}
#u35_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u36.a {
  width:53px;
}
#u37.a {
  left:1161px;
  top:693px;
  width:53px;
  height:28px;
}
#u37_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭超细黑简体 Bold', '方正兰亭超细黑简体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#9E4B4B;
}
#u38.a {
  width:53px;
}
